body{font-family: 'Oswald', sans-serif;

margin: 0;
}
h1{font-size:50px;}

.orange{color: rebeccapurple;}

.flexible-container
{
 display: flex;
margin-bottom:15% ;
}
 
.half-width{width: 50%;   

    padding-left: 2%;
}

.half-width img{width: 100%;}

.link{background-color: slateblue;

    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5%;
color: white;
font-weight: 800;

}


.top-banner{



    background-image: url(image/top-banner.png);

    background-repeat: no-repeat;
}
.dream{background-image: url(image/dream-bg.png);

    background-position:right;
    background-repeat:no-repeat;
}

.experience-area{
    background-image: url(image/exp-bg.png);
        background-position: left;
    background-repeat: no-repeat;}

.blue{color: rgb(127, 3, 243);}
.experience{box-shadow: 10px 10px 50px gray;

    width: 40%;
    margin-left: 5%;
    margin-right:5%;
    padding-left:20px;
border-radius: 20px;
 border-left: 10px solid;
}

#web{ 
    border-left: 7px solid;
 border-image: linear-gradient(blue, cyan);
 border-image-slice: 1;
}
#development{ border-left: 7px solid;
    border-image: linear-gradient(rgb(19, 214, 62), cyan);
    border-image-slice: 1;}

    footer p{
        text-align: center;
    }