body{font-family: 'Oswald', sans-serif;}
h1{font-size:50px;}

.orange{color: rebeccapurple;}

section
{
 display: flex;}

.half-width{width: 50%;   

    padding-left: 2%;
}

.half-width img{width: 100%;}

.link{background-color: slateblue;

    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5%;


}
